{{>layout/header}}
    <h1>canned coffee project index page ver.5 -- 점심은 사리곰탕면</h1>
    <img src="/image/aluminum_can.png" width="250" style="margin:auto"/>
    <div class="col-md-12">
        {{!--login section--}}

        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                {{#loginUserName}}
                    Logged in as: <span id="user">{{loginUserName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/loginUserName}}
                {{!--when userName is not present, lognig btn will be active--}}
                {{^loginUserName}}
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                {{/loginUserName}}
            </div>
        </div>
        {{!--lists--}}
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>최종수정일</th>
                </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td>
                        <a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}