{{>layout/header}}
    <h1>canned coffee project index page</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            </div>
        </div>
    </div>
    <img src="/image/mario.png" width="250" />
{{>layout/footer}}